
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #7B2A9F !important;
}

ul {
  padding: 0 !important;
  list-style: none;
  margin-bottom: 0 !important;
}

li {
  padding: 0;
}

.container {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  text-align: center;
  width: 50%;
  padding: 20px 50px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 200px;
}

.list {
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.562);
}

.item {
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: #fff;
}